@purple: #ded9e2;
@beige: #f7f4ea;

@grey0: #f8f9fa;
@grey1: #e9ecef;
@grey2: #dee2e6;
@grey3: #ced4da;
@grey4: #adb5bd;
@grey5: #6c757d;
@grey6: #495057;
@grey7: #343a40;
@grey8: #212529;

@-1: @grey2; // varies
@1: #4a7c59; // very easy
@2: #78945f; // easy
@3: #f7c162; // medium
@4: #dc5e38; // hard
@5: #bf1919; // very hard
@6: #7d0d01; // the most difficult
@99: #559af5; // luck
