.Yaku {
  margin-top: 1rem;
  border: #e0e0e0 solid 1px;
  padding: 1.4rem 1.6rem;
  border-radius: 0.4rem;
  transition: transform 0.25s ease-in-out, box-shadow 0.3s;

  // &:hover {
  //   box-shadow: TODO
  // }
}

.Yaku__name {
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem 0;
}

.Yaku__aka {
  margin-top: 0.4rem;
  text-align: center;
  color: #4f4f4f;
  font-style: italic;
}

.Yaku__handTypes {
  display: flex;

  & > :first-child {
    margin-right: 1rem;
  }
}

.Yaku__handType {
  padding: 0.4rem;
  background-color: #fcedef;

  & > span {
    text-decoration: underline;
  }
}

.Yaku__handType--false {
  background-color: #f2f2f2;
  color: #909090;
  & > span {
    text-decoration: none;
  }
}
