.Yaku {
  margin-top: 1rem;
  border: #e0e0e0 solid 1px;
  padding: 1.4rem 1.6rem;
  border-radius: 0.4rem;
  transition: transform 0.25s ease-in-out, box-shadow 0.3s;

  // &:hover {
  //   box-shadow: TODO
  // }

  & > div {
    margin-top: 0.6rem;
  }
}

.Yaku__name {
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem 0;
}

.Yaku__aka {
  text-align: center;
  color: #4f4f4f;
  font-style: italic;
}

.Yaku__speedDifficulty {
  display: flex;

  & > div {
    width: 50%;
  }
}

.Yaku__speedDifficultyIcon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 0.4rem;
}

.Yaku__speedDifficultyIcon---1 {
  background-color: #909090;
}

.Yaku__speedDifficultyIcon--1 {
  background-color: green;
}

.Yaku__speedDifficultyIcon--2 {
  background-color: greenyellow;
}

.Yaku__speedDifficultyIcon--3 {
  background-color: yellow;
}

.Yaku__speedDifficultyIcon--4 {
  background-color: orange;
}

.Yaku__speedDifficultyIcon--5 {
  background-color: red;
}

.Yaku__speedDifficultyIcon--6 {
  background-color: darkred;
}

.Yaku__speedDifficultyIcon--99 {
  background-color: yellow;
}

.Yaku__handTypes {
  display: flex;

  & > :first-child {
    margin-right: 1rem;
  }
}

.Yaku__handType {
  padding: 0.4rem;
  background-color: #fcedef;

  & > span {
    text-decoration: underline;
  }
}

.Yaku__handType--false {
  background-color: #f2f2f2;
  color: #909090;
  & > span {
    text-decoration: none;
  }
}

.Yaku__example {
  background-color: #f7f4ea;
  padding: 0.6rem;
  border-radius: 0.5rem;
}
