* {
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  text-align: center;
}

.Separator {
  margin: 3rem;
  border-bottom: 1px solid black;
  width: 80%;
}

.Yakus__bar {
  display: flex;
  justify-content: space-between;
}

.Yakus__list {
  display: grid;
  grid-template-columns: repeat(2, 45% [col-start]);
  grid-gap: 1rem;
  justify-content: center;
}
